#detailsWindow {
	position: absolute;
	z-index: 1002;
	width: $navbar-width;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: #f2f2f2;
	
	&.hide {
		left: -$navbar-width;
	}
	
	a {
		color: #45b969;
	}
	> div.icon {
		height: 40px;
		width: 40px;
		background-color: #2e2e2e;
		position: absolute;
		left: $navbar-width - 60px;
		cursor: pointer;
		margin: 10px;
		
		.arrow {
			width: 8px;
    		height: 14px;
			top: 50%;
			left: 50%;
			position: absolute;
			@include transform(translate(-50%, -50%) rotate(180deg));
		}
	}
	
	> div.header {
		height: 60px;
		background-color: #2e2e2e;
		> *{
			height: 60px;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			line-height: 60px;
		}
		
		.logo {
			width: $navbar-text-margin - $navbar-margin-icon;
			margin-left: $navbar-margin-icon;
			margin-top: (60px - 19px)/2;
			background-image: url("../images/icons/mainmenu_ikona1.png");
			background-size: 19px 19px;
			background-repeat: no-repeat;
		}
		
		.project-name {
			// width: calc(100% - #{$navbar-text-margin});
			width: 220px;
		}
	}

	#detailsList {
		// height: calc(100% - 60px);
		position: absolute;
		top: 60px;
		bottom: 0px;
		width: 100%;
		#streetView {
			width: 100%;
			height: 130px;
			position: relative;
			&.hide {
				background-image: url('../images/icons/oferta_tlo.png');
    			background-size: contain;
				span {
					color: white;
					position: relative;
					left: 32px;
					top: 103px;
				}
			}
			.overlay {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				&:hover {
					@include background(url("../images/icons/oferta_streeview-ikona.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)));
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
		.detailsList {
			margin: 20px 0px 20px 20px;
			padding-right: 10px;
			// height: calc(100% - 130px - 40px);
			position: absolute;
			top: 130px;
			bottom: 0px;
			
			@include scroll(#f2f2f2,#45b969);
			
			hr {
				border: none;
				height: 1px;
				background-color: #c2c2c2;
				margin: 10px 0;
			}
			
			> div {
				
				margin: 5px 0;
				&.title {
					margin-bottom: 15px;
					color: #414141;
				}
				> div {
					display: inline-block;
					vertical-align: top;
					&.key {
						width: 45%;
						color: #7b7b7b;
						
						span {
							display: inline-block;
							// width: calc(100% - 22px);
							width: 86px;
						}				

					}
					&.value {
						width: 55%;
						color: #4d4d4d;
						vertical-align: top;
						&.right {
							text-align: right;
						}
						&.green {
							color: #45b969;
						}
					}
				}
			}
			.blue {
				color: blue;
				cursor: pointer;
			}
		}
	}
}
